sudo: required
language: ghc

matrix:
  include:
    - env: CABALVER=1.16 GHCVER=7.6.1
      compiler: "GHC 7.6.1"
      addons: {apt: {packages: [cabal-install-1.16,ghc-7.6.1], sources: [hvr-ghc]}}
    - env: CABALVER=1.16 GHCVER=7.6.2
      compiler: "GHC 7.6.2"
      addons: {apt: {packages: [cabal-install-1.16,ghc-7.6.2], sources: [hvr-ghc]}}
    - env: CABALVER=1.16 GHCVER=7.6.3
      compiler: "GHC 7.6.3"
      addons: {apt: {packages: [cabal-install-1.16,ghc-7.6.3], sources: [hvr-ghc]}}

before_install:
  - travis_retry sudo apt-get -qq update
  - travis_retry sudo apt-get install -y libblas-dev liblapack-dev
  - export PATH=/opt/ghc/$GHCVER/bin:/opt/cabal/$CABALVER/bin:$PATH

install:
  - cabal --version
  - echo "$(ghc --version) [$(ghc --print-project-git-commit-id 2> /dev/null || echo '?')]"
  - travis_retry cabal update -v
#  - if [[ "$GHCVER" != 7.6.* ]];
#    then
#      cabal install cabal-install;
#    fi
  - cabal install --enable-tests --enable-benchmarks --only-dependencies --reorder-goals -v2

script:
  - cabal configure --enable-tests --enable-benchmarks -v2
  - cabal build
  - cabal test
#  - cabal check
  - cabal sdist

