sudo: required
language: Haskell

ghc:
#  - 8.0
  - 7.8
  - 7.6
  - 7.4

# travis says available ghc's are:
# - 7.0.4
# - 7.4.2
# - 7.6.3
# - 7.8.4

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libblas-dev liblapack-dev

install:
  - cabal install cabal-install
  - cabal install --enable-tests --dependencies-only

script:
  - cabal configure --enable-tests && cabal build test-feec && cabal test

