html {
}

body {
  color: black;
  margin: 0px auto 0px auto;
  width: 100%;
  font-family: "sorts-mill-goudy";
  font-size: 1.1em;
  color: #333
}

header {
  margin-bottom: 4em;
  padding: 50px 0 70px 0;
  text-align: center
}

h1 {
  margin-top: 2em;
  font-size: 1.6em;
  font-weight: normal;
  font-style: normal;
  text-align: center
}

h2 {
  margin-top: 2em;
  font-size: 1.3em;
  font-weight: bold;
  font-style: normal
}

h2.nav {
  margin-top: 2em;
  font-size: 1.3em;
  font-style: normal;
  font-weight: normal;
  font-family: Arial;
  text-align: center
}

h3 {
  margin-top: 1em;
  font-size: 1.1em;
  font-weight: bold;
  font-style: normal
}

div.sourceCode {
  align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  float: center
}

pre {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background: #eee
}

code {
}

code.sourceCode {
  background: #eee;
  display: inline-block;
  padding: 2px
}

.code-output {
  margin: 0 40px 0 20px;
  padding: 10px;
  overflow: auto
}

.code-output code {
  background-color: inherit
}

.highlight pre {
	margin: 0
}

.main-text {
	margin-top: 2em
}

a {
	text-decoration: none;
  color: #333
}

div#menu {
	text-align: left;
  padding-left
  font-family: Arial
}

ul.main {
	text-align: left;
  margin: 0px 0px 0px 0px;
  list-style: none;
  line-height: 2em;
  font-family: Arial
}

ul.menu {
	text-align: left;
  margin: 0px 0px 0px -20px;
  list-style: none;
  line-height: 2em;
  font-family: Arial
}

li.menu {
	font-size: 16px;
  position: relative
}

li.menu:last-child::after {
	display: none
}

li.menu::after {
	position: absolute;
  left: -15px;
  bottom: -7px;
  content: '';
  display: block;
  border-left: 1px solid #ddd;
  height: 100%
}

li.menu: : before {
	position: absolute;
	left: -15px;
  top: 0px;
	content: '';
	display: block;
	border-left: 1px solid #ddd;
	height: 1em;
	border-bottom: 1px solid #ddd;
	width: 10px
}

#menu {
	float: left;
	position: fixed;
	overflow: auto;
	width: 350px;
	height: 100%
}

#main {
	float: right;
	width: 850px;
	position: relative
}

#content {
	align: center;
	text-align: justify;
	width: 100%;
	position: relative
}

#footer {
	border-top: solid 1px black;
	color: #555;
	font-size: 12px;
	margin-top: 30px;
	padding: 12px 0px 12px 0px;
	align: center;
	text-align: center;
	width=100%;
	position: relative
}

code > span.kw { color: #268BD2; font-weight: bold  }
code > span.dt { color: #268BD2 }
code > span.dv { color: #D33682 }
code > span.bn { color: #D33682 }
code > span.fl { color: #D33682 }
code > span.ch { color: #4070a0 }
code > span.st { color: #2AA198 }
code > span.co { color: #93A1A1; font-style: italic }
code > span.ot { color: #A57800 }
code > span.al { color: #CB4B16; font-weight: bold }
code > span.fu { color: #268BD2 }
code > span.er { color: #D30102; font-weight: bold }
